<div class="d-flex justify-content-center p-4 container-fluid">
  <div class="col-4 card p-4 shadow-lg mb-5 bg-white rounded">
    <p class="h1 m-auto p-3">IBAN REUSE</p>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="row-6 mb-3 mt-2">
        <label class="p-2" for="number">Number of days</label>
        <input
          type="number"
          class="form-control"
          formControlName="nrOfDays"
          placeholder="Enter a number of days"
          min="1"
        />
        <p
          class="text-danger p-2"
          *ngIf="
            form.controls['nrOfDays'].invalid &&
            form.controls['nrOfDays'].touched
          "
        >
          Number of days is required!
        </p>
      </div>
      <div class="container card p-2 mt-3">
        <p class="h5">Application status!</p>
        <div class="p-1" *ngFor="let country of countries; let i = index">
          <input
            class="form-check-input m-2"
            type="checkbox"
            formArrayName="selectedOptions"
            [value]="country.value"
            (change)="onCheckboxChange($event)"
          />
          <label class="form-label m-1">{{ country.name }}</label>
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label class="p-2">Upload your file here</label>
        <input
          class="form-control"
          type="file"
          accept=".xlsx, .xls"
          (change)="getFile($event)"
        />
        <label class="text-warning mt-2"
          >You can only upload excel files with .xls or .xlsx extensions!</label
        >
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        Submit
      </button>
      <p>
        {{ form.value | json }}
      </p>
    </form>
  </div>
</div>
